// https://flatuicolors.com/palette/gb

$cyanColor: #4ED8DA;
$blueColor: #007bff;
$mutedColor: #777;
$pinkColor: #e000df;
$redColor: #ee3724;
$orangeColor: #E06950;
$yellowColor: yellow;
$selectColor: #fff5b8;
$goldColor: #f6b100;
$blackColor: black;
$textBodyColor: #212529;
$greenColor: #19a84c;
$borderColor: rgba(0, 0, 0, 0.12); // #c0c0c0
